<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ProjectServlet</display-name>
    <servlet-name>ProjectServlet</servlet-name>
    <servlet-class>servlet.ProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectServlet</servlet-name>
    <url-pattern>/ProjectServlet</url-pattern>
  </servlet-mapping>
  <display-name>Final_project v1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AgentServlet</display-name>
    <servlet-name>AgentServlet</servlet-name>
    <servlet-class>servlet.AgentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgentServlet</servlet-name>
    <url-pattern>/AgentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityServlet</display-name>
    <servlet-name>CityServlet</servlet-name>
    <servlet-class>servlet.CityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityServlet</servlet-name>
    <url-pattern>/CityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListingServlet</display-name>
    <servlet-name>ListingServlet</servlet-name>
    <servlet-class>servlet.ListingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListingServlet</servlet-name>
    <url-pattern>/ListingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionServlet</display-name>
    <servlet-name>TransactionServlet</servlet-name>
    <servlet-class>servlet.TransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionServlet</servlet-name>
    <url-pattern>/TransactionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocumentServlet</display-name>
    <servlet-name>DocumentServlet</servlet-name>
    <servlet-class>servlet.DocumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentServlet</servlet-name>
    <url-pattern>/DocumentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OfferServlet</display-name>
    <servlet-name>OfferServlet</servlet-name>
    <servlet-class>servlet.OfferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfferServlet</servlet-name>
    <url-pattern>/OfferServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PropertyFeaturesServlet</display-name>
    <servlet-name>PropertyFeaturesServlet</servlet-name>
    <servlet-class>servlet.PropertyFeaturesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PropertyFeaturesServlet</servlet-name>
    <url-pattern>/PropertyFeaturesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PropertyImageServlet</display-name>
    <servlet-name>PropertyImageServlet</servlet-name>
    <servlet-class>servlet.PropertyImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PropertyImageServlet</servlet-name>
    <url-pattern>/PropertyImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PropertyReviewsServlet</display-name>
    <servlet-name>PropertyReviewsServlet</servlet-name>
    <servlet-class>servlet.PropertyReviewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PropertyReviewsServlet</servlet-name>
    <url-pattern>/PropertyReviewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PropertyTypesServlet</display-name>
    <servlet-name>PropertyTypesServlet</servlet-name>
    <servlet-class>servlet.PropertyTypesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PropertyTypesServlet</servlet-name>
    <url-pattern>/PropertyTypesServlet</url-pattern>
  </servlet-mapping>
</web-app>